@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@300;400;700&display=swap");

$font-Inter: "Inter", sans-serif;
$font-Lato: "Lato", sans-serif;

$color-whiteout: #fbfbfb;
$color-icebreaker: #b8c1cb;
$color-smokyblack: #100a08;
$color-printrdbark: #5d3b32;
$color-adventureorange: #f59327;
$color-pindjurred: #bf4a14;
$color-crystalblue: #679db0;

body {
    font-family: $font-Inter;
}

.img-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 384px;
    border-radius: 15px;
}

.text-highlight {
    color: $color-smokyblack;
}

.btn-dark {
    font-weight: 500;
    padding: 1rem 4rem;
}

.dark-box-shadow {
    box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
}

.btn-outline-dark {
    background: white;
}
.btn-dark:hover {
    background-color: $color-whiteout;
    color: $color-smokyblack;
}

.title,
.subtitle,
.summary {
    font-family: $font-Lato;
}

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 600;
}

// swiper
.swiper {
    .swiper-pagination-bullet {
        background: none !important;
        border: 2px solid $color-adventureorange !important;
        border-radius: 25px;
        outline: none;
        transition: all 0.3s ease;
        opacity: 100;
    }

    .swiper-pagination-bullet:hover,
    .swiper-pagination-bullet-active {
        background: $color-adventureorange !important;
        width: 30px;
        transition: all 0.3s ease;
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding: 30px;
        background: white;
        color: black;
        border-radius: 25px;
        opacity: 20%;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        opacity: 100%;
    }

    .swiper-slide {
        padding: 60px;
    }

    @media (min-width: 576px) {
        .swiper-slide {
            padding: 70px;
        }
    }

    @media (min-width: 768px) {
        .swiper-slide {
            padding: 80px;
        }
    }

    @media (min-width: 992px) {
        .swiper-slide {
            padding: 90px;
        }
    }
}

// hero
.hero {
    .title {
        font-family: $font-Inter;
        color: $color-adventureorange;
    }
}

// faettures

.features {
    .features-card {
        border-radius: 15px;
        transition: all ease 0.5s;
        .icon {
            font-size: 96px;
        }
        .description {
            color: gray;
        }
    }

    .features-card:hover {
        background: $color-smokyblack;
        color: $color-whiteout;
        box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
        transform: scale(1.05);
    }
}

// services

.services {
    .services-card {
        border-radius: 15px;
        transition: all ease 0.5s;
        .icon {
            font-size: 96px;
        }
        .description {
            color: gray;
        }
    }

    .services-card:hover {
        background: $color-smokyblack;
        color: $color-whiteout;
        box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
        transform: scale(1.05);
    }
}
