@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lato:wght@300;400;700&display=swap");

$font-Inter: "Inter", sans-serif;
$font-Lato: "Lato", sans-serif;

$color-whiteout: #fbfbfb;
$color-icebreaker: #b8c1cb;
$color-smokyblack: #100a08;
$color-printrdbark: #5d3b32;
$color-adventureorange: #f59327;
$color-pindjurred: #bf4a14;
$color-crystalblue: #679db0;

body {
    font-family: $font-Inter;
}

.img-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 384px;
    border-radius: 15px;
}

.text-highlight {
    color: $color-smokyblack;
}

.btn-dark {
    font-weight: 500;
    padding: 1rem 4rem;
}

.dark-box-shadow {
    box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
}

.btn-outline-dark {
    background: white;
}
.btn-dark:hover {
    background-color: $color-whiteout;
    color: $color-smokyblack;
}

.title,
.subtitle,
.summary {
    font-family: $font-Lato;
}

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 600;
}

.h-line {
    height: 0.25rem;
    width: 12rem;
    background: $color-adventureorange;
    border-radius: 25px;
    margin: 0.5rem;
}

// swiper
.swiper {
    .swiper-pagination-bullet {
        background: none !important;
        border: 2px solid $color-adventureorange !important;
        border-radius: 25px;
        outline: none;
        transition: all 0.3s ease;
        opacity: 100;
    }

    .swiper-pagination-bullet:hover,
    .swiper-pagination-bullet-active {
        background: $color-adventureorange !important;
        width: 30px;
        transition: all 0.3s ease;
    }

    .swiper-button-next,
    .swiper-button-prev {
        padding: 30px;
        background: white;
        color: black;
        border-radius: 25px;
        opacity: 20%;
    }

    .swiper-button-next:hover,
    .swiper-button-prev:hover {
        opacity: 100%;
    }

    .swiper-slide {
        padding: 60px;
    }

    @media (min-width: 576px) {
        .swiper-slide {
            padding: 70px;
        }
    }

    @media (min-width: 768px) {
        .swiper-slide {
            padding: 80px;
        }
    }

    @media (min-width: 992px) {
        .swiper-slide {
            padding: 90px;
        }
    }
}

// hero
.hero {
    .title {
        font-family: $font-Inter;
        color: $color-adventureorange;
    }
}

// content-slider

.contentSlider {
    .img-container {
        border-radius: 0px;
    }
}

// faettures

.features {
    .features-card {
        border-radius: 15px;
        transition: all ease 0.5s;
        .icon {
            font-size: 96px;
        }
        .description {
            color: gray;
        }
    }

    .features-card:hover {
        background: $color-smokyblack;
        color: $color-whiteout;
        box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
        transform: scale(1.05);
    }
}

// services

.services {
    .services-card {
        border-radius: 15px;
        transition: all ease 0.5s;
        .icon {
            font-size: 96px;
            background: -webkit-linear-gradient(
                $color-adventureorange,
                $color-printrdbark
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all ease 0.5s;

            i {
                border: 2px solid transparent;
                transition: all ease 0.3s;
            }
        }
        .description {
            color: gray;
        }
    }

    .services-card:hover {
        border: 2px solid $color-adventureorange !important;
        background: $color-smokyblack;
        color: $color-adventureorange;
        box-shadow: 0px 15px 25px rgba(245, 147, 39, 0.3);
        transform: scale(1.05);
        transform: translateY(-1.25rem);
        .icon {
            transform: scale(1.25);
            -webkit-text-fill-color: $color-adventureorange;
            i {
                border-radius: 50px !important;
                border: 2px solid $color-adventureorange;
                background: $color-whiteout;
            }
        }
    }
}

// testimonial

.testimonials {
    .testimonial-card {
        border-radius: 15px;
        background: $color-whiteout;

        .testimonial-card-image {
            height: 160px;
        }

        .testimonial-quote {
            color: $color-adventureorange;
        }
    }

    .swiper {
        background: #fcf4e9;
        border-radius: 25px;
        .swiper-slide {
            padding: 40px 12px !important;
        }

        @media (min-width: 576px) {
            .swiper-slide {
                padding: 40px 20px !important;
            }
        }

        @media (min-width: 768px) {
            .swiper-slide {
                padding: 50px 25px !important;
            }
        }

        @media (min-width: 992px) {
            .swiper-slide {
                padding: 60px 40px !important;
            }
        }
    }
}
