.features .featuresCard {
    border-radius: 15px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.features .featuresCard:hover {
    background: #1e293b;
    color: #fbfbfb;
    -webkit-box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
    box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.features .featuresCard .icon {
    font-size: 96px;
}

.features .featuresCard .description {
    color: gray;
}
