@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Nunito:wght@300;400;700&display=swap");
body {
    font-family: "Roboto", sans-serif;
}

.img-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 384px;
    border-radius: 15px;
}

.text-highlight {
    color: #1e293b;
}

.btn-dark {
    font-weight: 500;
    padding: 1rem 4rem;
    background: #1e293b;
}

.dark-box-shadow {
    -webkit-box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
    box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
}

.btn-outline-dark {
    background: white;
}

.btn-dark:hover {
    background-color: #fbfbfb;
    color: #1e293b;
}

.title,
.subtitle,
.summary {
    font-family: "Nunito", sans-serif;
}

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 600;
}

.h-line {
    height: 0.25rem;
    width: 12rem;
    background: #f59327;
    border-radius: 25px;
    margin: 0.5rem;
}

.swiper .swiper-pagination-bullet {
    background: none !important;
    border: 2px solid #f59327 !important;
    border-radius: 25px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 100;
}

.swiper .swiper-pagination-bullet:hover,
.swiper .swiper-pagination-bullet-active {
    background: #f59327 !important;
    width: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    padding: 30px;
    background: white;
    color: black;
    border-radius: 25px;
    opacity: 20%;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
    opacity: 100%;
}

.hero .title {
    font-family: "Roboto", sans-serif;
    color: #f59327;
}

.contentSlider .img-container {
    border-radius: 0px;
}

.contentSlider .swiper .swiper-slide {
    padding: 60px;
}

@media (min-width: 576px) {
    .contentSlider .swiper .swiper-slide {
        padding: 70px;
    }
}

@media (min-width: 768px) {
    .contentSlider .swiper .swiper-slide {
        padding: 80px;
    }
}

@media (min-width: 992px) {
    .contentSlider .swiper .swiper-slide {
        padding: 90px;
    }
}

.features .features-card {
    border-radius: 15px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.features .features-card .icon {
    font-size: 96px;
}

.features .features-card .description {
    color: gray;
}

.features .features-card:hover {
    background: #1e293b;
    color: #fbfbfb;
    -webkit-box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
    box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.services .services-card {
    border-radius: 15px;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.services .services-card .icon {
    font-size: 96px;
    background: -webkit-linear-gradient(#f59327, #5d3b32);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.services .services-card .icon i {
    border: 2px solid transparent;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.services .services-card .description {
    color: gray;
}

.services .services-card:hover {
    border: 2px solid #f59327 !important;
    background: #1e293b;
    color: #f59327;
    -webkit-box-shadow: 0px 15px 25px rgba(245, 147, 39, 0.3);
    box-shadow: 0px 15px 25px rgba(245, 147, 39, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
}

.services .services-card:hover .icon {
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-text-fill-color: #f59327;
}

.services .services-card:hover .icon i {
    border-radius: 50px !important;
    border: 2px solid #f59327;
    background: #fbfbfb;
}

.testimonials .testimonial-card {
    border-radius: 15px;
    background: #fbfbfb;
}

.testimonials .testimonial-card .testimonial-card-image {
    height: 160px;
}

.testimonials .testimonial-card .testimonial-quote {
    color: #f59327;
}

.testimonials .swiper {
    background: #fcf4e9;
    border-radius: 25px;
}

.testimonials .swiper .swiper-slide {
    padding: 40px 12px !important;
}

@media (min-width: 576px) {
    .testimonials .swiper .swiper-slide {
        padding: 40px 20px !important;
    }
}

@media (min-width: 768px) {
    .testimonials .swiper .swiper-slide {
        padding: 50px 25px !important;
    }
}

@media (min-width: 992px) {
    .testimonials .swiper .swiper-slide {
        padding: 60px 40px !important;
    }
}

.counts .counts-card {
    border: #f59327 2px solid;
    border-radius: 15px;
    background: #1e293b;
    padding: 2.5rem;
}

.counts .counts-card .title {
    color: #fbfbfb;
    font-family: "Roboto", sans-serif;
}

.counts .counts-card .subtitle {
    color: #b8c1cb;
}

.counts .counts-card .h-line {
    height: 0.125rem;
    width: 100%;
    background: #f59327;
    border-radius: 25px;
    margin: 2rem 0 0.25rem 0;
}

.counts .dark-box-shadow {
    -webkit-box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
    box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
}

/* .faq .accordion .accordion-item {
    padding: 1rem 0px;
}

.faq .accordion .accordion-item .accordion-button {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 600;
}

.faq .accordion .accordion-item .accordion-button::after {
    background-image: url("../img/faq/bxs-down-arrow.svg");
}

.faq .accordion .accordion-item .accordion-button:not(.collapsed) {
    color: #f59327;
    background-color: #f1f5f9;
}

.faq .accordion .accordion-item .accordion-button:not(.collapsed)::after {
    background-image: url("../img/faq/bxs-down-arrow-colored.svg");
} */

.pricing .pricing-card {
    border-radius: 15px;
    background: white;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pricing .pricing-card .title {
    font-family: "Roboto", sans-serif;
}

.pricing .pricing-card .h-line {
    width: 100%;
    height: 0.125rem;
    margin: 2rem 0px;
    background-color: #cbd5e1;
}

.pricing .pricing-card .cost {
    font-weight: 700;
    color: #f59327;
}

.pricing .pricing-card .duration {
    background: #cbd5e1;
    font-weight: 600;
}

.pricing .pricing-card .features .bxs-check-circle {
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.pricing .pricing-card .buy-btn {
    font-weight: 600;
}

.pricing .pricing-card .buy-btn:hover {
    background: #64748b;
}

.pricing .pricing-card:hover {
    background: #1e293b;
    color: #fbfbfb;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
}

.pricing .pricing-card:hover .duration {
    color: #1e293b;
}

.pricing .pricing-card:hover .features .bxs-check-circle {
    color: #22c55e;
}

.pricing .pricing-card:active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.pricing .active {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    background: #1e293b;
    color: #fbfbfb;
}

.pricing .active .duration {
    color: #1e293b;
}

.pricing .dark-box-shadow {
    -webkit-box-shadow: 0px 10px 30px rgba(36, 25, 25, 0.2);
    box-shadow: 0px 10px 30px rgba(36, 25, 25, 0.2);
}

.clients svg {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.clients svg:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.members {
    background: #cbd5e1;
}

.members .member-card {
    border-radius: 15px;
    border-bottom: 8px transparent solid;
    background: #e2e8f0;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.members .member-card .social-icons a {
    color: #fbfbfb;
}

.members .member-card .social-icons a .bx {
    background: #1e293b;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.members .member-card .social-icons a:hover {
    color: #1e293b;
}

.members .member-card .social-icons a:hover .bx {
    background: #fbfbfb;
}

.members .member-card:hover {
    background: #1e293b;
    color: #e2e8f0;
    border-bottom: #f59327 8px solid;
}

.skills .progress .progress-bar {
    background-color: #1e293b;
}

.gallery .gallery-flex .gallery-item {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gallery .gallery-flex .gallery-item img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gallery .gallery-flex .gallery-item .gallery-info {
    display: none;
    bottom: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fbfbfb;
    border-radius: 10px;
}

.gallery .gallery-flex .gallery-item .gallery-info .description {
    font-weight: 400;
    font-size: 14px;
}

.gallery .gallery-flex .gallery-item .gallery-info a {
    color: #1e293b;
}

.gallery .gallery-flex .gallery-item:hover img {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.gallery .gallery-flex .gallery-item:hover .gallery-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.portfolio .h-line {
    margin: 0.25rem 0px;
}

.portfolio .img-container {
    height: 500px;
}

.portfolio .img-container a i {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.portfolio .img-container a:hover i {
    background: #b8c1cb !important;
}

.portfolio .btn-dark {
    border-radius: 15px;
    padding: 1rem;
}

.portfolio .portfolio-attributes {
    background: #f1f5f9;
    border-radius: 15px;
}

.portfolio .portfolio-skills {
    background: #e2e8f0;
    border-radius: 15px;
}
