@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Nunito:wght@300;400;700&display=swap");
body {
    font-family: "Roboto", sans-serif !important;
}

.imgContainer {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 384px;
    border-radius: 15px;
}

.text-highlight {
    color: #1e293b;
}

.btn-dark {
    font-weight: 500;
    padding: 1rem 4rem;
    background: #1e293b;
}

.darkBoxShadow {
    -webkit-box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
    box-shadow: 0px 15px 25px rgba(36, 25, 25, 0.3);
}

.btn-outline-dark {
    background: white;
}

.btn-dark:hover {
    background-color: #fbfbfb;
    color: #1e293b;
}

.title,
.subtitle,
.summary {
    font-family: "Nunito", sans-serif;
}

.title {
    font-weight: 700;
}

.subtitle {
    font-weight: 600;
}

.hLine {
    height: 0.25rem;
    width: 12rem;
    background: #f59327;
    border-radius: 25px;
    margin: 0.5rem;
}

.swiper .swiper-pagination-bullet {
    background: none !important;
    border: 2px solid #f59327 !important;
    border-radius: 25px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 100;
}

.swiper .swiper-pagination-bullet:hover,
.swiper .swiper-pagination-bullet-active {
    background: #f59327 !important;
    width: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    padding: 30px;
    background: white;
    color: black;
    border-radius: 25px;
    opacity: 20%;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
    opacity: 100%;
}

.accordion .accordion-item {
    padding: 1rem 0px;
}

.accordion .accordion-item .accordion-button {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 600;
}

.accordion .accordion-item .accordion-button:not(.collapsed) {
    color: #f59327;
    background-color: #f1f5f9;
}

.gallery .gallery-flex .gallery-item {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gallery .gallery-flex .gallery-item img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gallery .gallery-flex .gallery-item .gallery-info {
    display: none;
    bottom: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fbfbfb;
    border-radius: 10px;
}

.gallery .gallery-flex .gallery-item .gallery-info .description {
    font-weight: 400;
    font-size: 14px;
}

.gallery .gallery-flex .gallery-item .gallery-info a {
    color: #1e293b;
}

.gallery .gallery-flex .gallery-item:hover img {
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.gallery .gallery-flex .gallery-item:hover .gallery-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
